[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inaspeechsegmenter = "*"
jupyter = "*"
ipython = "*"
notebook = "*"
pydub = "*"
huggingsound = "*"
floret = "*"
huspacy = "*"
hu-core-news-lg = {file = "https://huggingface.co/huspacy/hu_core_news_lg/resolve/main/hu_core_news_lg-any-py3-none-any.whl"}
textacy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
